<%= new_invite_path %>
<%= form_with(url: invites_path,local: true) do |form| %>
  
    <div class="field">
     <label>招待される方のメールアドレスを入力してください</label>
    </div>
    <div class="field">
     <%= form.text_field :inviting %>
    </div>
  <div class="actions">
    <%= form.submit '招待' %>
  </div>
  <% end %>