// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: #FFF;
    
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #17F9AD;
    align-items: center;
    padding: 0 20px;
}

.header-top {
    padding: 10px 30px 0 0;
    letter-spacing: 2px;
    font-family: Tahoma;
    font-weight: bold;
}

.header-top a {
    color: #999999;
    text-decoration: none;
}

.header-top a:hover {
    color: #999999;
}

.header-menus {
    height: 60px;
    padding-top: 25px;
    
}
.header-menus li {
    padding-right: 20px;
}

ul {
    list-style: none;
}
.header-menus a {
    text-decoration: none;
    color: #999999;
    font-weight: bold;
}
.header-menus a:hover {
    color: #999999;
}


//---------/works/new-----------//
.add {
    text-align: right;
    padding-top: 50px;
    padding-right: 80px;
    font-size: 20px;
}
.add a {
    text-decoration: none;
    color: #A9A9A9;
}
.add a:hover {
    color: #808080;
}

//---------/works--------------//
.name-point {
    text-align: center;
    padding: 50px 0 0 0;
    font-size: 25px;
}